.Footer {
  width: 100%;
  background-color: #ccc;

  &__nav {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    @media (max-width: 650px) {
      display: none;
    }
    ul {
      list-style: none;
      li {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }

  &__cright {
    display: flex;
    justify-content: center;
    padding: 5px 0;
  }
}
