@font-face {
  font-family: "Vazir";
  src: url(./assets/fonts/Vazir.eot) format("eot"), url(./assets/fonts/Vazir.woff) format("woff");
  font-weight: normal;
}

html,
body {
  font-family: "Vazir";
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: rgb(223, 222, 222);
}
